{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Atnaujinkite savo slaptažodį</h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_new_password1" class="form-label">Naujas slaptažodis</label>
            <input type="password" name="new_password1" class="form-control" id="id_new_password1" required>
        </div>

        <div class="mb-3">
            <label for="id_new_password2" class="form-label">Patvirtinkite slaptažodį</label>
            <input type="password" name="new_password2" class="form-control" id="id_new_password2" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Išsaugoti slaptažodį</button>
    </form>

    <div class="mt-3 text-center">
        <p>Jau prisijungę? <a href="{% url 'login' %}">Prisijunkite čia</a></p>
    </div>
</div>
{% endblock %}
